<template>
  <div class="flex gap-5 items-center justify-center">
    <div class="card flex-1 text-center">
      <div v-if="data !== null" class="text-lg font-bold">
        {{ data["number_of_observations"] }}
      </div>
      <div>observations</div>
    </div>
    <div class="card flex-1 text-center">
      <div v-if="data !== null" class="text-lg font-bold">
        {{ data["number_of_variables"] }}
      </div>
      <div>variables</div>
    </div>
    <div class="card flex-1 text-center">
      <div v-if="data !== null" class="text-lg font-bold">
        {{ pct.format(data["proportion_with_missing"]) }}
      </div>
      <div>missing</div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  data: Object
})

const pct = new Intl.NumberFormat("en-US", { style: 'percent' })
</script>
