<template>
  <!-- Plot container -->
  <div class="card">
    <h2 class="text-2xl ">Survival function - Kaplan-Meier</h2>
    <p class="text-gray-600">The Kaplan-Meier estimate of the survival function</p>

    <div class="flex gap-3 my-2">
      <div>
        <div class="inline-block w-3 h-3 bg-blue-700 rounded" /> Female
      </div>
      <div>
        <div class="inline-block w-3 h-3 bg-yellow-500 rounded" /> Male
      </div>
    </div>

    <!-- Plot -->
    <div v-if="plotPending" class="flex items-center justify-center w-full h-40 text-3xl text-gray">
      Loading plot...
    </div>
    <div ref="plotContainer"></div>

    <div class="text-center text-sm text-gray-300">
      The plot is sometimes slow to build. Should maybe use another plotting library.
    </div>

  </div>
</template>

<script setup>
import * as Plot from "@observablehq/plot";

const props = defineProps({
  data: Object
})



const plotContainer = ref(null)
const plotPending = ref(true)

watch(() => props.data, (newData, oldData) => {
  if (newData === null) return

  const plot = Plot.plot({
    marks: [
      Plot.ruleX([0]),
      Plot.ruleY([0]),
      Plot.lineY(newData, {
        x: "time",
        y: "estimate",
        stroke: "sex",
        curve: "step-after",
        // marker: "tick-y",
      }),
      Plot.areaY(newData, { x: "time", y1: "lower", y2: "upper", fill: "sex", fillOpacity: 0.1 }),
    ]
  })

  plotPending.value = false

  plotContainer.value.append(plot)
})

</script>
