<template>
  <div class="card">
    <h2 class="text-2xl ">Summary table</h2>
    <p class="text-gray-600 mb-2">Summary of the available data</p>
    <table v-if="data !== null" class="w-full b-y-(2px gray-900)">
      <tr class="text-left b-b-(1px gray-900)">
        <th class="text-left py-2">variable</th>
        <th v-for="column in data.columns" :key="`${column}-header`" class="text-right py-2">{{ column }}</th>
      </tr>
      <tr v-for="index, row_i, in data.index" :key="`${index}-${row_i}`">
        <td>
          {{ index }}
        </td>
        <td v-for="value, col_i in data.data[row_i]" :key="`${index}-${row_i}-${col_i}`" class="text-right">
          {{ round(value, 2) }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script setup>
const props = defineProps({
  data: Object
})

const round = (value, decimals) => {
  return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
}
</script>
