<template>
  <div class="flex-(~ col) gap-5 max-w-2xl mx-auto p-10">
    <h1 class="text-4xl text-center mb-5"><strong>Demo Project</strong> / Data Dashboard</h1>

    <OverviewPanel :data="overviewData" />
    <SummaryPanel :data="summaryData" />
    <PlotPanel :data="plotData" />

    <div class="card text-center text-sm text-gray-400">
      Overview: {{ !overviewPending }} | Summary: {{ !summaryPending }} | Kaplan-Meier: {{ !kmPending }}
    </div>
  </div>
</template>

<script setup>
const config = useRuntimeConfig()

const apiBase = config.public.apiBase
const plotData = ref(null)

const { data: overviewData, pending: overviewPending, refresh: overviewRefresh } = await useAsyncData(
  "overview_data", () => $fetch(`${apiBase}/overview`)
)

const { data: summaryData, pending: summaryPending, refresh: summaryRefresh } = await useAsyncData(
  "summary_data", () => $fetch(`${apiBase}/summary`)
)

const { data: kmData, pending: kmPending, refresh: kmRefresh } = await useAsyncData(
  "km_data", () => $fetch(`${apiBase}/kaplan-meier/estimates`)
)

onMounted(() => {
  plotData.value = kmData.value
})

</script>
